h1{
  font-family: cursive;
  color: red;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}


.login{
width:auto;
height:auto;
border-radius: 20px;
background:rgb(15,20,26);
margin-top:50px;
margin-bottom:70%;
margin-left:10px;
margin-right:10px;
padding: 12px 20px 12px 40px;
padding: 20px;
color: white;
font-size: 20px;

display:block;
}
/* {"data" : " dzBybGQgMW4gczRmZSBoNG5kNQ== " , "encoding" : " base64 " */

.hep{
  color : white;
   font-size : 20px;
}


.flag {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: black;
  background-position: 13px 13px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  color: red;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

flag:focus {
  width: 60%;
}


.button {
  background-color: black;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
}

.button1 {
  background-color: black;
  color: red;
  border: 4px solid red;
}

.button2 {
  background-color: black;
  color: green;
  border: 4px solid green;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   display: inline-block;
}


/* Full-width input fields */
.xyz{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.side{
  text-align: right;
  font-size: 16px;
  color: green;
}
/* Set a style
 for all buttons */



 .fake {
  width: 40%;
  padding: 10px 15px;
  margin: 4px 0;

  border: 2px solid green;
  border-radius: 4px;
}


._fnt{
color:white;

}
