{%block content%}
{%load static%}

<!--
<div class="w3-row-padding">
	{%for item in myposts %}
	<div class="w3-third w3-blue">
<p >Posted on {{item.pub_date}}</p>
  <p class="_hep"	><b></b>&nbsp;&nbsp;&nbsp;{{item.title}} </p>
<p class="xyz">  <a href="blogpost/{{item.post_id}}">SOLVE</a></p>
{% if flagfound %}
<p class="_hep"	><b></b>&nbsp;&nbsp;&nbsp;Congrats you found a flag </p>
{% endif %}
</div>
{%endfor%}
</div>
{%endblock%}
</body>
</html>
-->

<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CTfs</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
      <!--bootstrap css-->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!--animate css-->
      <link rel="stylesheet" href="{% static 'css/animate-wow.css' %}">
      <!--main css-->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
      <!--responsive css-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   </head>
   <body>
     <header id="header" class="top-head">
            <!-- Static navbar -->
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-4 col-sm-12 left-rs">

                     </div>
                     <div class="col-md-8 col-sm-12">
                        <div class="right-nav">
                           <div class="login-sr">
                              <div class="login-signup">
                                 <ul>
                                   <li><a class="custom-b" href="/contact">Report a bug!</a></li>
                                    <li><a class="custom-b" href="#">Go Back</a></li>
                                 </ul>
                              </div>
                           </div>


                        </div>
                     </div>
                  </div>
               </div>
               <!--/.container-fluid -->
            </nav>
         </header>
      <!-- Modal -->



      <div class="page-content-product">
         <div class="main-product">
            <div class="container">
               <div class="row clearfix">
                  <div class="find-box">
                     <h1>CyberImposters CTFs<br></h1>
                     <h4>Play-Find-Win</h4>
                     <div class="product-sh">
                        <div class="col-sm-6">
                           <div class="form-sh">

                           </div>
                        </div>


                  </div>
               </div>

               <div class="row clearfix">
                 {%for item in myposts%}
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="blogpost/{{item.post_id}}">
                        <div class="box-img">
													{% if item.is_solved %}
													<i><h4>solved</h4></i>
													{% endif %}
													<small>posted on {{item.pub_date}}</small>
                           <u><h4>CTF name</h4></u>
													 <h1>{{item.title}}</h1>
													 <br><br><br><br>
													 <h5>Category :: {{item.cat}}</h5>
                           <!--<img src="{% static 'images/product/1.png' %}" alt="" /> -->
                        </div>
                     </a>
                  </div>
                     </a>
                     {%endfor%}
                  </div>

                  <div class="categories_link">

                  </div>
               </div>
            </div>
         </div>
      </div>

         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <p> CyberImposters © 2019</p>
                  </div>
                </div>
               </div>
            </div>
         </div>
      </footer>
      <!--main js-->
      <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
      <!--bootstrap js-->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script>
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!--custom js-->
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>
