{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>:.CyberImposters.:</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css4/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com

  ======================================================= -->

  <script>
   function soon()
      {
        alert("Coming Soon");
      }
      </script>


<style>
.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color: white;
  background-color: inherit;
  border: 2px solid white;
}

.notification:hover {
  background-color: rgb(3, 196, 235);
  color: white;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 30%;
  background-color: black;
  color: white;
}
</style>



</head>

<body>
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">

        </div>

        <h1>Welcome {{request.user.username}}</h1>
        <h2> To CyberImposters </h2>
    <!--  <h2>Check <span class="rotating">Notifications, Messages , and Play Events</span></h2>-->
        <div class="actions">

<a href="/alerts" class="notification">
  <span>Notifications</span>
  <span class="badge">{{count}}</span>
</a>
        <!--  <a href="/alerts" class="btn-get-started">Notifications</a> -->

          <a href="#services" class="btn-services">Timeline</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h2 class="subscribe-title">Welcome {{request.user.username}}</h3>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#services">Messages</a></li>
          <li><a href="#portfolio">Ranking</a></li>
          <li><a href="/ctf">Profile</a></li>
          <li><a href="/logout">logout</a></li>

        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->


  <!--==========================
  Services Section
  ============================
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Services</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">List of various services provided by CyberImposters</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-desktop"></i></div>
          <h4 class="service-title"><a href="">Vulnerability Assessment</a></h4>
          <p class="service-description">We provide full VA-PT for your Website / API / Application / Servers .</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="service-title"><a href="">Customized Reports</a></h4>
          <p class="service-description">we provide reports in the most simplest and dynamic format !.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-phone"></i></div>
          <h4 class="service-title"><a href="">24x7 Technical Support</a></h4>
          <p class="service-description">No Bots ! Skilled researchers on Realtime chat support.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa  fa-motorcycle"></i></div>
          <h4 class="service-title"><a href="">Distant Workshop and sessions</a></h4>
          <p class="service-description">We provide a full fledged enviroment on our cybersecurity sessions and hands on experience on ethical hacking workshops.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-mortar-board"></i></div>
          <h4 class="service-title"><a href="">Cybersecurity Training</a></h4>
          <p class="service-description">We also provide cybersecurity practices and ethical hacking ways to become a good white hat hacker.</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-money"></i></div>
          <h4 class="service-title"><a href="">Various Competitions and events</a></h4>
          <p class="service-description">We also host Cybersecurity events and Competitions with prize money and rewards. </p>
        </div>
      </div>
    </div>
  </section>
-->
  <!--==========================
  Subscrbe Section
  ============================-->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Are You Vulnerable?</h3>
          <p class="subscribe-text">Get your website/API/application checked by our best cybersecurity researchers!!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="/scan">Check now</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Porfolio Section
  ============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Events</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Various events hosted by CyberImposters</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url({% static '/img/portfolio/ctf.png' %});" href="/blog">
            <div class="details">
              <h4>CTF Competition</h4>
              <span>Solve CTF problems and win!</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url({% static 'img/portfolio/crypto.png' %});" href="/crypto">
            <div class="details">
              <h4>CRYPTOGRAPHY</h4>
              <span>About Cryptology</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url({% static 'img/portfolio/linux.png' %});" href="/linux">
            <div class="details">
              <h4>LINUX</h4>
              <span>All about linux OS</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url({% static 'img/portfolio/gaming.png' %});" href="/games">
            <div class="details">
              <h4>Gamings</h4>
              <span>Play Hard Win More</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url({% static 'img/portfolio/bug.png' %});" href="/bug">
            <div class="details">
              <h4>Bug bounty</h4>
              <span>Find Bugs in various websites</span>
            </div>
          </a>
        </div>





      </div>
    </div>
  </section>

  <!--==========================
  Testimonials Section
  ============================-->

  <!--==========================
  Team Section
  ============================-
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">*</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="" alt=""></div>
            <h4>Soumy Naman</h4>
            <span>CEO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="" alt=""></div>
            <h4>Shaksham Tiwari</h4>
            <span>Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="" alt=""></div>
            <h4>Shobhit saxena</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="" alt=""></div>
            <h4>Mrinmay bala</h4>
            <span>Designer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
-->
  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Contact us if you have any query/Bug/question related to CyberImposters</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>GLA University<br>Startup Launchpad</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>admin@cyberimposters.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>8171077735</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Imperial Theme</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/morphext/morphext.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/stickyjs/sticky.js' %}"></script>
  <script src="{% static 'lib/easing/easing.js' %}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{% static 'js2/custom.js' %}"></script>

  <script src="contactform/contactform.js"></script>


</body>

</html>
